body{
    background-image: url("http://getwallpapers.com/wallpaper/full/e/2/c/275390.jpg");
    
}

.container {
    text-align: center;
    margin-top: 20%; 
    font-family: 'Wallpoet', cursive;
    
}

#spinner {
    margin-left: 42%;
}

